$rotation_duration: 3.5s
$black: #2f2f2f
$scale_val: 50%
$preloader_size: 30%

*
    margin: 0
    padding: 0

body
    background-color: $black
    overflow-x: hidden

.opacity0
    opacity: 0

#loader_wrap
    display: flex
    align-content: center
    align-items: center
    justify-content: space-around
    width: 100% 
    height: 100vh
    // max-width: 100vw 
    // max-height: 100vh
    // width: 500px            //Отладка
    // height: 500px           //Отладка
    // margin: 0 auto:      //Отладка
    background-color: $black
    overflow: hidden
    position: fixed
    top: 0
    left: 0
    transition: opacity .6s
    .loader
        position: relative
        width: $preloader_size
        height: 30%         //Отладка
        .logo_l
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            .segment
                display: block
                background-size: contain
                background-repeat: no-repeat
                width: 37%
                height: 42%
                position: absolute
                // max-width: 36px         //Отладка
                svg
                    width: 100%
                    height: 100%
            .before
                left: 3%
                top: 37%
            .after
                right: 3%
                bottom: 37%
        .box1
        .box2
            transform: rotate(-60deg)
        .box3
            transform: rotate(-120deg)


// #loader_wrap
//     .loader
//         border: 1px solid #000
//         .box1
//             border: 1px solid #f00
//             .segment
//                 border: 1px solid #f00
//         .box2
//             border: 1px solid #0f0
//             .segment
//                 border: 1px solid #0f0
//         .box3
//             border: 1px solid #00f
//             .segment
//                 border: 1px solid #00f


#loader_wrap
    .loader
        animation: rotation $rotation_duration infinite linear
        .before
            animation: scale_before ($rotation_duration / 2) infinite linear alternate
        .after
            animation: scale_after ($rotation_duration / 2) infinite linear alternate



@keyframes rotation
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@keyframes scale_before
    0%
        transform: translate(0, 0)
    25%
        transform: translate(0, 0)
    100%
        transform: translate(-$scale_val, 0)

@keyframes scale_after
    0%
        transform: translate(0, 0)
    25%
        transform: translate(0, 0) 
    100%
        transform: translate($scale_val, 0)


#content_wrap
    display: flex
    align-content: center
    align-items: center
    justify-content: space-around
    width: 100%
    height: 100vh
    background-color: $black
    .loaded_page
        font-size: 24px
        color: #fff
        font-family: sans-serif




@import "media" // Всегда в конце
